certifi==2022.12.7 charset-normalizer==2.1.1 funkify==0.4.4 idna==3.4 pycryptodome==3.10.1 PyMySQL==1.0.2 requests==2.28.1 requires==0.10.3 tornado==6.2 typing_extensions==4.4.0 urllib3==1.26.13 xtyping==0.6.1
# lodash